#divTitle{
	text-align: center;
}

#listTable{
	border-collapse: collapse;
	text-align: center;
}

.cellBorder {
	border-style: solid;
}
#divTable{
	text-align: center;
}

#btnAdd{
	text-align: center;
}

#modal-content{
	width: 1100px;
	margin-top: 150px;
}

#modal-dialog{
margin-left: 15%;
}