#divTitle{
	text-align: center;
}

#listTable{
	border-collapse: collapse;
	text-align: center;
}

.cellBorder {
	border-style: solid;
}
#divTable{
	text-align: center;
}

#btnAdd{
	text-align: center;
}

.btn{
	width: 70px;
}

#modal-footer{
	border-top: hidden;
}

#modal-content{
	width: auto;
	margin-top: 250px;
	display: inline-block; 
}

#myModal{
text-align: center;
margin-right: 200px;
}

#formModal{
 width:auto; height:auto; position: absolute; 
}

#personModal{
	margin-top: 5px;
}