<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>main</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css" />
<link rel="stylesheet" href="../static/css/styles.css" />


</head>
<body>
	<div id="divTitle">
		<h1>Password Management</h1>
		<input type="button" value="logout">
	</div>
	<div id="divTable">
		<table id="listTable">
			<thead>
				<tr>
					<th class="cellBorder">url du site</th>
					<th class="cellBorder">login</th>
					<th class="cellBorder">password</th>
					<th></th>
				</tr>
			</thead>
		</table>
	</div>
</div>
<div id="btnAdd"><input type="button" value="ajouter"></div>
</body>
</html>